$background: #fff;
$default: #727272;
$brandColor: #cc3b58;
$supportColor: #296ba0;
$inputBackground: #fafafa;
$inputText: #898989;

$magenta: #f63e40;
$blue: #97b8b6;
$light_blue: #ccdedd;

$textFontSize: 16px;
$titleFontSize: 24px;

$defaultShadow: 0px 1px 1px 0px rgba(0, 0, 0, .1);

$defaultFont: 'Open Sans', sans-serif;
$secondaryFont: 'Abel', sans-serif;